@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Oswald";
}






header {
    background-color: #252525;
    width: 100%;
    height: 100px;
}

header a img {
    height: 100px;
    padding-left: 10px;
    position: absolute;
} 

header nav ul {
    list-style: none;
    line-height: 100px;
    text-align: center;
}

header nav ul li {
    display: inline;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all .4s ease;
}

header nav ul a {
    font-size: 20px;
    color: white;
    display: inline;
    text-decoration: none;
    
}

header nav ul li.active, 
header nav ul li:hover {
    background-color: #f47103;
}

header nav ul li:hover a{
    color: black;
}




main {
    background-color: lightgrey;
}

.slider {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.middle {
    display: flex;
    justify-content: center;

}

.nav-slider {
    position: absolute;
    display: flex;
    align-content: flex-end;
}

.bar {
    height: 10px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
    background-color: #f47103;
    opacity: 0.5;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 300%;
    height: 100%;
    display: flex;
}

.slide {
    transition: all .4s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: 0;
}

#r3:checked ~ .s1 {
    margin-left: 0;
}